<!-- <p-button label="Click" (click)="showTitle()"></p-button>
<h1 *ngIf="show">{{title}}</h1> -->
<!-- <p>its an angular app</p> -->
<!-- <div class="navbar">
    <div class="navbar-brand">
        
    </div>
</div>
<div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" pInputText placeholder="Username">         
    </div>
</div>
<div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
        <button pButton type="button" label="Search"></button>
        <input type="text" pInputText placeholder="Keyword">         
    </div>
</div> -->
<!-- <img #img src="assets//images/logo.png" alt="Logo"> -->

<app-header></app-header> 
<!-- <app-sidebar></app-sidebar> -->
<!-- <app-form></app-form> -->
 <app-form-builder></app-form-builder> 
<!-- <app-footer></app-footer> -->
<!-- 
<p-tabView>
    <p-tabPanel header="Customer">
        <form action="action_page.php">
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
            </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Handyman">
        Content 2
    </p-tabPanel>
</p-tabView>
<p-panel >
    <p-header>
        Header content here
    </p-header>
    Body Content
    <p-footer>
        Footer content here
    </p-footer>
</p-panel> -->